<!DOCTYPE >
<html>
  <head>
    <title>Sosofly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%# <meta property="og:title" content="Sosofly" />
    <meta property="og:description" content="A React/Ruby on Rails clone of Spotify" />
    <meta property="og:url" content="https://sosofly.herokuapp.com/" />
    <meta property="og:image" content="./app/assets/images/hero.png" />
    <meta property="og:image:width" content="308" />
    <meta property="og:image:height" content="217" />
    <meta property="og:image:alt" content="A woman, eyes closed with headphones on, face tilted up toward the sun" /> %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>;
      </script>
    <% end %>
    <script type="text/javascript">
      window.heroURL = "<%= image_url('//www.scdn.co/i/home/lieVariants/backgrounds/brand-ltr.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
